.donate__container {
  position: relative;
  display: inline-block;
}

.donate__btn-row {
  position: relative;
  margin-bottom: 15px;
}

.donate__btn {
  width: 275px;
}

.donate__btn:first-child {
  margin-right: 10px;
}

.donate__btn-stretch {
  width: 100%;
}

@media (max-width: 960px) {
  .donate__btn {
    width: 200px;
  }

  .donate__btn .x-anchor-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (max-width: 460px) {
  .donate__btn {
    margin-bottom: 15px;
  }

  .donate__btn-row {
    margin-bottom: 0;
  }

  .donate__btn-stretch {
    width: 200px;
  }
}
.footer__container {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  letter-spacing: normal;
}

.footer__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__column {
  margin-right: 50px;
  text-align: left;
}

.footer__subheader {
  font-weight: 500;
  margin-bottom: 10px;
  font-family: inherit;
}

.footer__nav-link {
  font-family: inherit;
}

.footer__address {
  font-family: inherit;
  margin: 0;
}

.footer__fb-icon {
  max-width: 40px;
}

.footer__logo {
  max-width: 300px;
}

@media (max-width: 950px) {
  .footer__logo {
    max-width: 160px;
  }
}

@media (max-width: 780px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__left {
    flex-direction: column;
  }

  .footer__column {
    margin-bottom: 30px;
  }
}
.x-flexslider-shortcode-container {
  margin-bottom: 0;
}

.x-slide p, .x-slide img {
  margin-bottom: 0 !important;
}

footer {
  background-color: rgb(245, 245, 245) !important;
  color: black !important;
}
.donate__container {
  position: relative;
  display: inline-block;
}

.donate__btn-row {
  position: relative;
  margin-bottom: 15px;
}

.donate__btn {
  width: 275px;
}

.donate__btn:first-child {
  margin-right: 10px;
}

.donate__btn-stretch {
  width: 100%;
}

@media (max-width: 960px) {
  .donate__btn {
    width: 200px;
  }

  .donate__btn .x-anchor-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (max-width: 460px) {
  .donate__btn {
    margin-bottom: 15px;
  }

  .donate__btn-row {
    margin-bottom: 0;
  }

  .donate__btn-stretch {
    width: 200px;
  }
}
.footer__container {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  letter-spacing: normal;
}

.footer__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__column {
  margin-right: 50px;
  text-align: left;
}

.footer__subheader {
  font-weight: 500;
  margin-bottom: 10px;
  font-family: inherit;
}

.footer__nav-link {
  font-family: inherit;
}

.footer__address {
  font-family: inherit;
  margin: 0;
}

.footer__fb-icon {
  max-width: 40px;
}

.footer__logo {
  max-width: 300px;
}

@media (max-width: 950px) {
  .footer__logo {
    max-width: 160px;
  }
}

@media (max-width: 780px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__left {
    flex-direction: column;
  }

  .footer__column {
    margin-bottom: 30px;
  }
}
.x-flexslider-shortcode-container {
  margin-bottom: 0;
}

.x-slide p, .x-slide img {
  margin-bottom: 0 !important;
}

footer {
  background-color: rgb(245, 245, 245) !important;
  color: black !important;
}
.donate__container {
  position: relative;
  display: inline-block;
}

.donate__btn-row {
  position: relative;
  margin-bottom: 15px;
}

.donate__btn {
  width: 275px;
}

.donate__btn:first-child {
  margin-right: 10px;
}

.donate__btn-stretch {
  width: 100%;
}

.donate__btn .x-anchor-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (max-width: 960px) {
  .donate__btn {
    width: 200px;
  }
}

@media (max-width: 460px) {
  .donate__btn {
    margin-bottom: 15px;
  }

  .donate__btn-row {
    margin-bottom: 0;
  }

  .donate__btn-stretch {
    width: 200px;
  }
}
.footer__container {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  letter-spacing: normal;
}

.footer__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__column {
  margin-right: 50px;
  text-align: left;
}

.footer__subheader {
  font-weight: 500;
  margin-bottom: 10px;
  font-family: inherit;
}

.footer__nav-link {
  font-family: inherit;
}

.footer__address {
  font-family: inherit;
  margin: 0;
}

.footer__fb-icon {
  max-width: 40px;
}

.footer__logo {
  max-width: 300px;
}

@media (max-width: 950px) {
  .footer__logo {
    max-width: 160px;
  }
}

@media (max-width: 780px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__left {
    flex-direction: column;
  }

  .footer__column {
    margin-bottom: 30px;
  }
}
.x-flexslider-shortcode-container {
  margin-bottom: 0;
}

.x-slide p, .x-slide img {
  margin-bottom: 0 !important;
}

footer {
  background-color: rgb(245, 245, 245) !important;
  color: black !important;
}
