.donate__container {
  position: relative;
  display: inline-block;
}

.donate__btn-row {
  position: relative;
  margin-bottom: 15px;
}

.donate__btn {
  width: 275px;
}

.donate__btn:first-child {
  margin-right: 10px;
}

.donate__btn-stretch {
  width: 100%;
}

@media (max-width: 960px) {
  .donate__btn {
    width: 200px;
  }

  .donate__btn .x-anchor-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (max-width: 460px) {
  .donate__btn {
    margin-bottom: 15px;
  }

  .donate__btn-row {
    margin-bottom: 0;
  }

  .donate__btn-stretch {
    width: 200px;
  }
}
